
body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none !important;
}
.control-button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    
    .quiz-question {
        text-align: center;
    }
    .quiz-option {
        padding: 10px;
        border: 1px solid #888;
        border-radius: 3px;
        cursor: pointer;
        width: calc(100% - 20px);
        $background-color: #f9f9f9;
        background-color: $background-color;
        user-select: none;

        &:hover {
            background-color: darken($background-color, 10%);
        }
    }
    .explanation {
        align-self: center;
    }
    .correct-option {
        background-color: #d4edda;
        border-color: #28a745;
    }
    .wrong-option {
        background-color: #f8d7da;
        border-color: #dc3545;
    }
    .reset-button {
        background-color: #ffc107;
        color: black;
        align-self: center;
    }
}


.quiz-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    gap: 15px;
    align-self: center;
    
    .buttons-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
        
        .next-button {
            background-color: #007bff;
            color: white;
        }
        .previous-button {
            background-color: #6c757d;
            color: white;
        }
        .reset-all-button {
            background-color: #ffc107;
            color: black;
        }
    }
    .admin-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 200px;

        .admin-button {
            background-color: #17a2b8;
            color: white;
            text-align: center;
        }
        .password-input {
            all: unset;
            display: flex;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        .control-buttons-container {
            display: flex;
            flex-direction: row;
            gap: 5px;
            width: 100%;
            text-align: center;

            .login-button {
                background-color: #28a745;
                color: white;
                width: fit-content;
            }
            .logout-button {
                background-color: #dc3545;
                color: white;
                width: fit-content;
            }
        }
    }
}

.quiz-editor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
    border: #007bff 2px solid;
    gap: 10px;

    .quiz-component {
        display: flex;
        flex-direction: column;
        gap: 8px;
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        width: 350px;
        background-color: #1f8fff2f;

        .question {
            font-weight: bold;
        }
        .options {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .option-container {
                display: flex;
                flex-direction: row;
                gap: 5px;

                .option {
                    width: 100%;
                    padding: 8px;
                    border: 1px solid #888;
                    border-radius: 3px;
                    background-color: #f1f1f1;

                    &.selected {
                        background-color: #28a745 !important;
                    }
                }
                .option-button {
                    height: fit-content;
                    margin: auto 0;
                    user-select: none;
                    cursor: pointer;
                    width: fit-content;
                    padding: 4px;
                    background-color: #f1f1f1;
                    border: 1px solid #888;
                    border-radius: 3px;
                    
                    &.selected {
                        background-color: #28a745 !important;
                    }
                    &.option-remove-button {
                        background-color: #dc3545 !important;
                        color: white;
                        width: 19px;
                        text-align: center;
                    }
                }
            }
            .option-add-button {
                align-self: center;
                border-radius: 50%;
                cursor: pointer;
                user-select: none;
                padding: 4px 8px;
                background-color: #128cdc;
                color: white;
            }
        }

        .question-label, .explanation-label {
            font-style: italic;
            color: #555;
        }
        .explanation, .question {
            border: 1px solid #888;
            border-radius: 3px;
            padding: 8px;
        }
    }
}