body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none !important;
}

.control-button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.quiz-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.quiz-form .quiz-question {
  text-align: center;
}
.quiz-form .quiz-option {
  padding: 10px;
  border: 1px solid #888;
  border-radius: 3px;
  cursor: pointer;
  width: calc(100% - 20px);
  background-color: #f9f9f9;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.quiz-form .quiz-option:hover {
  background-color: rgb(223.5, 223.5, 223.5);
}
.quiz-form .explanation {
  align-self: center;
}
.quiz-form .correct-option {
  background-color: #d4edda;
  border-color: #28a745;
}
.quiz-form .wrong-option {
  background-color: #f8d7da;
  border-color: #dc3545;
}
.quiz-form .reset-button {
  background-color: #ffc107;
  color: black;
  align-self: center;
}

.quiz-manager {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  gap: 15px;
  align-self: center;
}
.quiz-manager .buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}
.quiz-manager .buttons-container .next-button {
  background-color: #007bff;
  color: white;
}
.quiz-manager .buttons-container .previous-button {
  background-color: #6c757d;
  color: white;
}
.quiz-manager .buttons-container .reset-all-button {
  background-color: #ffc107;
  color: black;
}
.quiz-manager .admin-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.quiz-manager .admin-container .admin-button {
  background-color: #17a2b8;
  color: white;
  text-align: center;
}
.quiz-manager .admin-container .password-input {
  all: unset;
  display: flex;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.quiz-manager .admin-container .control-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100%;
  text-align: center;
}
.quiz-manager .admin-container .control-buttons-container .login-button {
  background-color: #28a745;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}
.quiz-manager .admin-container .control-buttons-container .logout-button {
  background-color: #dc3545;
  color: white;
  width: -moz-fit-content;
  width: fit-content;
}

.quiz-editor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  border: #007bff 2px solid;
  gap: 10px;
}
.quiz-editor .quiz-component {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 350px;
  background-color: rgba(31, 143, 255, 0.1843137255);
}
.quiz-editor .quiz-component .question {
  font-weight: bold;
}
.quiz-editor .quiz-component .options {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.quiz-editor .quiz-component .options .option-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.quiz-editor .quiz-component .options .option-container .option {
  width: 100%;
  padding: 8px;
  border: 1px solid #888;
  border-radius: 3px;
  background-color: #f1f1f1;
}
.quiz-editor .quiz-component .options .option-container .option.selected {
  background-color: #28a745 !important;
}
.quiz-editor .quiz-component .options .option-container .option-button {
  height: -moz-fit-content;
  height: fit-content;
  margin: auto 0;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px;
  background-color: #f1f1f1;
  border: 1px solid #888;
  border-radius: 3px;
}
.quiz-editor .quiz-component .options .option-container .option-button.selected {
  background-color: #28a745 !important;
}
.quiz-editor .quiz-component .options .option-container .option-button.option-remove-button {
  background-color: #dc3545 !important;
  color: white;
  width: 19px;
  text-align: center;
}
.quiz-editor .quiz-component .options .option-add-button {
  align-self: center;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding: 4px 8px;
  background-color: #128cdc;
  color: white;
}
.quiz-editor .quiz-component .question-label, .quiz-editor .quiz-component .explanation-label {
  font-style: italic;
  color: #555;
}
.quiz-editor .quiz-component .explanation, .quiz-editor .quiz-component .question {
  border: 1px solid #888;
  border-radius: 3px;
  padding: 8px;
}